{% extends "layouts/base.html" %} 

{% block content %}	
	<div >
	  <article class="prose prose-indigo px-4 max-w-7xl lg:w-full mx-auto lg:px-8 lg:mb-16">
	    <h1>Appointments</h1>
	    <div class="border-2 border-solid border-red-900 bg-red-100 p-4 mb-8">
	      <h2 class="text-red-900 mt-0">Notice about COVID-19</h2>
	      <p class="text-red-900 mb-0">My utmost concern is for the protection of ourselves and those around us and so, my office will continue to follow state and federal guidelines. Because these guidelines continue to evolve, I ask that all of my patients (regardless of their vaccination status) come prepared with a mask, and wash or sanitize their hands upon entry.&nbsp;</p>
	      <p class="text-red-900 mb-0">Thank you for your cooperation and respect for this shared space of healing.</p>
	    </div>
	    <div class="block md:flex flex-row md:space-x-8">
	      <div class="w-full md:w-1/3 bg-gray-100 px-4 pb-8">
	        <h3 class="text-center">Services</h3>
	        <div class="text-center "><a class="block px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 no-underline" href="/about-acupuncture/">Acupuncture​</a><br /><a class="block px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 no-underline" href="/trigger-point-dry-needling/">Trigger Point Dry Needling</a><br /><a class="block px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 no-underline" href="/facial-acupuncture/">Facial Acupuncture</a></div>
	        <div>
	          <h3 class="text-center">When and Where</h3>
	          <p class="text-center">
	            <font color="#111827">By Appointment</font>
	          </p>
	          <h4 class="text-center">​Salons by JC</h4>
	          <h4 class="text-center">(next door to Old Navy)</h4>
	          <p class="text-center">876 Sunrise Hwy.<br />Suite 20<br />Bay Shore, NY 11706<br /><a class="block px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 no-underline" href="https://www.google.com/maps/dir//Planet+Fitness,+894+Sunrise+Hwy+A,+Bay+Shore,+NY+11706/@40.72874,-73.277703,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89e82d7e2afdd351:0xc65aca0e60d30714!2m2!1d-73.2769388!2d40.7285919?hl=en-US">Get Directions</a></p>
	        </div>
	      </div>
	      <div class="w-full md:w-2/3">
	        <h3><strong>Accepted Insurance Plans</strong></h3>
	        <ul>
	          <li>UnitedHealthcare</li>
	          <li>Empire NYSHIP</li>
	        </ul>
	        <p>*Please note that insurance will only cover the cost of acupuncture. The patient will be responsible for all other services and/or products.</p>
	        <h3>Pricing</h3>
	        <ul>
	          <li>Introductory Package: $150 for your first 2 treatments ($75 each)</li>
	          <li>Follow-up (1 hour): $100</li>
	          <li>Cupping (1/2 hour): $50</li>
	          <li>Auricular (ear) acupuncture (15 minutes): $25</li>
	          <li>Facial Acupuncture (1.5 hours): $150&nbsp;</li>
	          <li>Facial Acupuncture Package: $240 for 2 treatments ($120 each)</li>
	          <li>Home visit: $200</li>
	        </ul>
	        <h4>Give the gift of healing -&nbsp;<a class="button" href="https://squareup.com/gift/8PDMBAH3S9T0C/order">Buy a Gift Card</a></h4>
	        <div class="max-w-2xl">
	          <h3>Forms</h3>
	          <p>After booking your appointment you will receive a welcome email with all the information you will need via my&nbsp;<a target="_blank" rel="noopener" href="https://acusimple.com/access/4573/#/portal/">Patient Portal</a>. Alternatively, you can use the links below to print the documents and bring them with you.</p>
	          <ul>
	            <li><a href="https://docs.google.com/document/d/e/2PACX-1vTKH7s-rZSnQzB3N1E2Z8BRcqIFMEwrnNugsC9qA4bgH1KmR3oAtwQPVZZdjjdhh7zC3fwMsvudbs5u/pub">Informed Consent and Disclosure</a></li>
	            <li><a href="https://docs.google.com/document/d/e/2PACX-1vQ3_Q1Bvwlltf35GvXkfVlMRngUmi7a92lyhMW798yhs_t426TjlOQxJz4UgAcDhbk2_DSzWy3iU74N/pub">Treatment Terms and Conditions</a></li>
	            <li><a href="https://docs.google.com/document/d/1Yt6LLz92NB0srC7JEvwPIgOwK-cfi56sBMsnmdbuCWs/edit">​Credit Card Authorization</a></li>
	            <li><a href="https://www.nycourts.gov/forms/hipaa_fillable.pdf">HIPPA- Authorization for Release of Health Information</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </article>
	</div>
{% endblock %}
