<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
	<meta name="description" content="{{ metadescription }}">
	<link rel="stylesheet" href="/style.css?v={% version %}"/>
  </head>
  <body>
	<div tabindex="-1" id="main-content" class="editable">
		<!-- partial -->
		{% set homeHero = home_header %} 
		{% include "partials/home_hero.html" %} 
		
		{% include "partials/acuTypes.html" %} 
		
		{% set contactForm = contact_form %} 
		{% include "partials/contactform.html" %} 
		<!--
		{{ content | safe }}
		-->
	</div>
	{% include "partials/footer.html" %} 
  </body>
  <script src="/js/alpine.js?v={% version %}"></script>
</html>
