<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
	<meta name="description" content="{{ metadescription }}" />
	<link rel="stylesheet" href="/style.css?v={% version %}" />
  </head>
  <body>
	<div tabindex="-1" id="main-content" class="editable">
	  <!-- partial -->
	  <!-- This example requires Tailwind CSS v2.0+ -->
	  <div class="relative bg-white overflow-hidden" x-data="{mobileOpen : false}">
	    <div class="max-w-7xl mx-auto">
	      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"><svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewbox="0 0 100 100" preserveaspectratio="none" aria-hidden="true">
	          <polygon points="50,0 100,0 50,100 0,100" />
	        </svg>
	        <div>
	          <div class="relative pt-6 px-4 sm:px-6 lg:pl-8">
	            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
	              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
	                <div class="flex items-center justify-between w-full md:w-auto"><a href="/">
	                    <picture>
	                      <source srcset="/images/logo.webp" type="image/webp" />
	                      <source srcset="/images/logo.jpg" type="image/jpeg" /> <img class="h-12 w-auto sm:h-16" alt="An Zhuo Ya Acupuncture" src="/images/logo.jpg" />
	                    </picture>
	                  </a>
	                  <div class="-mr-2 flex items-center md:hidden"><button><span class="sr-only">Open main menu</span> <!-- Heroicon name: outline/menu --> <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
	                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
	                      </svg></button></div>
	                </div>
	              </div>
	              <div class="hidden md:block md:ml-10 md:pr-2 md:space-x-6">
	                <div class="relative inline-block" x-data="{open : false}"><a class="font-medium  text-indigo-600 hover:text-indigo-500" href="/">Home </a></div>
	                <div class="relative inline-block" x-data="{open : false}"><a class="font-medium  text-gray-500 hover:text-gray-900" href="/appointments/">Appointments </a></div>
	                <div class="relative inline-block" x-data="{open : false}"><a class="font-medium  text-gray-500 hover:text-gray-900" href="/about-acupuncture/">Acupunture <svg class="inline text-gray-400 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
	                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
	                    </svg> </a>
	                  <div class="absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2" x-show="open" style="display: none;">
	                    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
	                      <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/about-acupuncture/">
	                          <!-- Heroicon name: outline/chart-bar -->
	                        </a>
	                        <div class="ml-4">
	                          <p class="text-base font-medium text-gray-900"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/about-acupuncture/">About Acupunture </a></p>
	                          <p class="mt-1 text-sm text-gray-500"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/about-acupuncture/">Learn about how this ancient medicine can support you on your healthcare journey. </a></p>
	                        </div><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/about-acupuncture/"> </a> <a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/trigger-point-dry-needling/">
	                          <!-- Heroicon name: outline/chart-bar -->
	                        </a>
	                        <div class="ml-4">
	                          <p class="text-base font-medium text-gray-900"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/trigger-point-dry-needling/">Trigger Point Dry Needling </a></p>
	                          <p class="mt-1 text-sm text-gray-500"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/trigger-point-dry-needling/">A technique used to treat pain and referral patterns caused by knots in the muscles. </a></p>
	                        </div><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/trigger-point-dry-needling/"> </a> <a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/facial-acupuncture/">
	                          <!-- Heroicon name: outline/chart-bar -->
	                        </a>
	                        <div class="ml-4">
	                          <p class="text-base font-medium text-gray-900"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/facial-acupuncture/">Facial Acupuncture </a></p>
	                          <p class="mt-1 text-sm text-gray-500"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/facial-acupuncture/">Not only for cosmetic purposes, this can also be used to treat neurological conditions affecting the face and head. </a></p>
	                        </div><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/facial-acupuncture/"> </a>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <div class="relative inline-block" x-data="{open : false}"><a class="font-medium  text-gray-500 hover:text-gray-900" href="/about-me/">About Me </a></div>
	                <div class="relative inline-block" x-data="{open : false}"><a class="font-medium  text-gray-500 hover:text-gray-900" href="/blog">Blog <svg class="inline text-gray-400 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
	                      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
	                    </svg> </a>
	                  <div class="absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2" x-show="open" style="display: none;">
	                    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
	                      <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/blog">
	                          <!-- Heroicon name: outline/chart-bar -->
	                        </a>
	                        <div class="ml-4">
	                          <p class="text-base font-medium text-gray-900"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/blog">My Blog </a></p>
	                          <p class="mt-1 text-sm text-gray-500">&nbsp;</p>
	                        </div><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="/blog"> </a> <a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="https://www.youtube.com/channel/UCC5SFqWtgRBYGC28OAkxFpg">
	                          <!-- Heroicon name: outline/chart-bar -->
	                        </a>
	                        <div class="ml-4">
	                          <p class="text-base font-medium text-gray-900"><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="https://www.youtube.com/channel/UCC5SFqWtgRBYGC28OAkxFpg">Youtube </a></p>
	                          <p class="mt-1 text-sm text-gray-500">&nbsp;</p>
	                        </div><a class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50" href="https://www.youtube.com/channel/UCC5SFqWtgRBYGC28OAkxFpg"> </a>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </nav>
	          </div>
	          <!--
	  	            Mobile menu, show/hide based on menu open state.

	  	            Entering: "duration-150 ease-out"
	  	              From: "opacity-0 scale-95"
	  	              To: "opacity-100 scale-100"
	  	            Leaving: "duration-100 ease-in"
	  	              From: "opacity-100 scale-100"
	  	              To: "opacity-0 scale-95"
	  	          -->
	          <div class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" x-show="mobileOpen" style="display: none;">
	            <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
	              <div class="px-5 pt-4 flex items-center justify-between">
	                <div><a href="/">
	                    <picture>
	                      <source srcset="/images/logo.webp" type="image/webp" />
	                      <source srcset="/images/logo.jpg" type="image/jpeg" /> <img class="h-12 w-auto sm:h-16" alt="An Zhuo Ya Acupuncture" src="/images/logo.jpg" />
	                    </picture>
	                  </a></div>
	                <div class="-mr-2"><button><span class="sr-only">Close main menu</span> <!-- Heroicon name: outline/x --> <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
	                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
	                    </svg></button></div>
	              </div>
	              <div class="px-2 pt-2 pb-3 space-y-1"><a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" href="/">Home</a> <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" href="/appointments/">Appointments</a> <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" href="/about-acupuncture/">Acupunture</a> <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" href="/about-me/">About Me</a> <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50" href="/blog">Blog</a></div>
	            </div>
	          </div>
	        </div>
	        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
	          <div class="sm:text-center lg:text-left">
	            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"><span class="block xl:inline">An Zhuo Ya</span> <span class="block text-indigo-600 xl:inline">Acupuncture</span></h1>
	            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">&nbsp;</p>
	            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
	              <div class="rounded-md shadow"><a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10" href="#form">Contact Me </a></div>
	              <div class="mt-3 sm:mt-0 sm:ml-3"><a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 md:py-4 md:text-lg md:px-10" href="/appointments/">Request Appointment </a></div>
	            </div>
	          </div>
	        </main>
	      </div>
	    </div>
	    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
	      <picture>
	        <source srcset="/images/oils.webp" type="image/webp" />
	        <source srcset="/images/oils.jpg" type="image/jpeg" /> <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" alt="Essential Oils in use with Acupuncture" src="/images/oils.jpg" />
	      </picture>
	    </div>
	  </div><!-- This example requires Tailwind CSS v2.0+ -->
	  <div class="relative bg-white pt-16 pb-32 overflow-hidden">
	    <div class="mb-24">
	      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
	        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
	          <div>
	            <div><span class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600">
	                <!-- Heroicon name: outline/sparkles --> <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
	                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
	                </svg>
	              </span></div>
	            <div class="mt-6">
	              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">A little about acupuncture</h2>
	              <p class="mt-4 text-lg text-gray-500">A holistic style of medicine dating back over 2,500 years, acupuncture is the act of inserting fine needles into strategic areas of the body to achieve a state of overall wellness. It can be used to treat anything from pain, to digestive issues, to stress, but it can also be used to maintain an already strong mind and body.</p>
	              <div class="mt-6"><a class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700" href="/about-acupuncture">Learn More <span class="sr-only">about acupuncture</span> </a></div>
	            </div>
	          </div>
	        </div>
	        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
	          <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
	            <picture>
	              <source srcset="/images/needles.webp" type="image/webp" />
	              <source srcset="/images/needles.jpg" type="image/jpeg" /> <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" alt="Spinal Acupuncture" src="/images/needles.jpg" />
	            </picture>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="relative">
	      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
	        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
	          <div>
	            <div><span class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600">
	                <!-- Heroicon name: outline/inbox --> <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
	                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
	                </svg>
	              </span></div>
	            <div class="mt-6">
	              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">Customer Reviews</h2>
	              <div class="mt-8 border-t border-gray-200 pt-6">
	                <blockquote>
	                  <div>
	                    <p class="text-base text-gray-500">Andrea is such an incredible acupuncturist. I always have a great experience and always leave realieved of both pain and stress. I highly reccomend her to anyone who is looking to get acupuncture.</p>
	                  </div>
	                  <footer class="mt-3">
	                    <div class="flex items-center space-x-3">
	                      <div class="flex-shrink-0  hidden"><img class="h-6 w-6 rounded-full" alt="Nicole Basil" src="https://lh3.googleusercontent.com/a-/AOh14GjybBL89BpYePKmtdqT0Ri26KaVJyddlcQbRIEpBQ=w36-h36-p-rp-mo-br100" /></div>
	                      <div class="text-base font-medium text-gray-700">- Nicole Basil</div>
	                    </div>
	                  </footer>
	                </blockquote>
	              </div>
	              <div class="mt-8 border-t border-gray-200 pt-6">
	                <blockquote>
	                  <div>
	                    <p class="text-base text-gray-500">A truly talented acupuncturist. Andrea is a unique practitioner in that you can feel her sincere compassion and care for you as her patient. She takes the time to thoroughly listen to your needs and is devoted to helping you achieve optimum health. Knowledgeable, attentive, professional and nurturing, I highly recommend her!</p>
	                  </div>
	                  <footer class="mt-3">
	                    <div class="flex items-center space-x-3">
	                      <div class="flex-shrink-0  hidden"><img class="h-6 w-6 rounded-full" alt="Nicole Basil" src="https://lh3.googleusercontent.com/a/AATXAJz10dHX499w38fq09NMw6dLyoz1OCYzcqExuuuM=w36-h36-p-c0x00000000-rp-mo-br100" /></div>
	                      <div class="text-base font-medium text-gray-700">- Stephanie Nedwick</div>
	                    </div>
	                  </footer>
	                </blockquote>
	              </div>
	              <div class="mt-8 border-t border-gray-200 pt-6">
	                <blockquote>
	                  <div>
	                    <p class="text-base text-gray-500">For anyone that complains about how most Western doctors mill you through their office, Andrea is a breath of the freshest air! She is not only extremely competent and qualified, she actually SITS with you, LISTENS to you, EXPLAINS her treatment plans, and works WITH you to achieve YOUR goals. Acupuncture isn't a fire-and-forget solution to health, and Andrea is certainly an unforgettable practitioner. One BILLION stars!</p>
	                  </div>
	                  <footer class="mt-3">
	                    <div class="flex items-center space-x-3">
	                      <div class="flex-shrink-0 hidden"><img class="h-6 w-6 rounded-full" alt="Nicole Basil" src="https://lh3.googleusercontent.com/a-/AOh14Gj6XFjFUBmrRNEROXwa3Sf0OYwfMMXCY0W3EwZuIQ=w36-h36-p-rp-mo-br100" /></div>
	                      <div class="text-base font-medium text-gray-700">- Matthew Huttle</div>
	                    </div>
	                  </footer>
	                </blockquote>
	              </div>
	            </div>
	          </div>
	          <div class="mt-6"><a class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700" href="https://www.google.com/maps/place/An+Zhuo+Ya+Acupuncture/@40.7286891,-73.2799667,17z/data=!3m1!4b1!4m5!3m4!1s0x89e82dd1e8b3aeaf:0xc1ee040ab6288388!8m2!3d40.7286891!4d-73.277778">Leave a review </a></div>
	        </div>
	        <div class="mt-12 sm:mt-16 lg:mt-0">
	          <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
	            <picture>
	              <source srcset="/images/apothecary.webp" type="image/webp" />
	              <source srcset="/images/apothecary.jpg" type="image/jpeg" /> <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" alt="Eastern Medicine" src="/images/apothecary.jpg" />
	            </picture>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!--
		
	  	  		-->
	</div>
	{% set contactForm = contact_form %} 
	{% include "partials/contactform.html" %} 
	{% include "partials/footer.html" %} 
  </body>
  <script src="/js/alpine.js?v={% version %}"></script>
</html>
