<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	
    <title>{{ title }}</title>
	<meta  name="description" content="{{ metadescription }}"/>
	<link rel="stylesheet" href="/style.css?v={% version %}"/>
  </head>
  <body>
	<div  tabindex="-1" id="main-content" class="flex flex-col justify-center items-center w-full h-screen">
      <h1 class="text-3xl">We're sorry we are currently down for maintanence, we will be available again shortly.</h1>
  </div>
  </body>
  <script defer src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js"></script>
</html>
